# Node.js dependencies
node_modules/

# Production build files
build/

# Local environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings (optional)
.vscode/

# Mac system files (optional)
.DS_Store
.env